@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  @apply bg-gradient-to-br from-gray-50 via-blue-50 to-indigo-100 text-gray-900;
  background-attachment: fixed;
}